<h1>Let me get them names bruh</h1>
<form method="post" action="names">
<input type="text" name="name1" placeholder="1st Name" required autofocus>
<br><br>
<input type="text" name="name2" placeholder="2nd Name">
<br><br>
<input type="text" name="name3" placeholder="3rd Name">
<br><br>
<input type="text" name="name4" placeholder="4th Name">
<br><br>
<input type="text" name="name5" placeholder="5th Name">
<br><br>
<!-- <input type="text" name="name6" placeholder="6th Name">
<br><br>
<input type="text" name="name7" placeholder="7th Name">
<br><br>
<input type="text" name="name8" placeholder="8th Name">
<br><br>
<input type="text" name="name9" placeholder="9th Name">
<br><br>
<input type="text" name="name10" placeholder="10th Name">
<br><br>
<input type="text" name="name11" placeholder="11th Name">
<br><br>
<input type="text" name="name12" placeholder="12th Name">
<br><br>
<input type="text" name="name13" placeholder="13th Name">
<br><br>
<input type="text" name="name14" placeholder="14th Name">
<br><br>
<input type="text" name="name15" placeholder="15th Name">
<br><br>
<input type="text" name="name16" placeholder="16th Name">
<br><br>
<input type="text" name="name17" placeholder="17th Name">
<br><br>
<input type="text" name="name18" placeholder="18th Name">
<br><br>
<input type="text" name="name19" placeholder="19th Name">
<br><br>
<input type="text" name="name20" placeholder="20th Name"> -->
<input type="submit" value="Randomize and Group" onclick>
</form>