<h1>Enter the names for your groups:</h1>
<h1>Make random groups</h1>
<div class="btns">
<button onclick="addBoxes()">Add</button>
<button onclick="removeBoxes()">Remove</button>
<br><br>
</div>
<form method="post" action="names">
<div id="text_boxes">
</div>
<br>
<input id="randomize" type="submit" value="Randomize and Group">
</form>
<script>
function addBoxes() {
    var x = document.createElement("INPUT");
    x.setAttribute("type", "text");
    x.setAttribute("name", "name[]");
    x.setAttribute("placeholder", "Name");
    var textBoxes = document.getElementById("text_boxes");
    textBoxes.appendChild(x);
    textBoxes.innerHTML = textBoxes.innerHTML + "  ";
}

function removeBoxes(){
    var removeBox = document.getElementById("text_boxes");
    removeBox.removeChild(removeBox.lastChild);
}
</script>