<h1>Here is your random groups:</h1>
<br>
<h2><%=random_grouping%></h2>
<br><br>
<h1>Would you like to make a new group?</h1>
<input type="radio" name="choice-same-group" id="choice-for-add">
<label for="choice-for-new">Make new group</label>
<div class="reveal-if-active">
  <h1>Make new group</h1>
<form method="post" action="names">
<input type="text" name="name1" placeholder="1st Name" required autofocus>
<input type="text" name="name2" placeholder="2nd Name" required>
<input type="text" name="name3" placeholder="3rd Name">
<input type="text" name="name4" placeholder="4th Name">
<br><br>
<input type="text" name="name5" placeholder="5th Name">
<input type="text" name="name6" placeholder="6th Name">
<input type="text" name="name7" placeholder="7th Name">
<input type="text" name="name8" placeholder="8th Name">
<br><br>
<input type="text" name="name9" placeholder="9th Name">
<input type="text" name="name10" placeholder="10th Name">
<input type="text" name="name11" placeholder="11th Name">
<input type="text" name="name12" placeholder="12th Name">
<br><br>
<input type="text" name="name13" placeholder="13th Name">
<input type="text" name="name14" placeholder="14th Name">
<input type="text" name="name15" placeholder="15th Name">
<input type="text" name="name16" placeholder="16th Name">
<br><br>
<input type="text" name="name17" placeholder="17th Name">
<input type="text" name="name18" placeholder="18th Name">
<input type="text" name="name19" placeholder="19th Name">
<input type="text" name="name20" placeholder="20th Name">
<br><br>
<input type="submit" value="Randomize and Group" onclick>
</form>
</form>
</div>